<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="/assets/img/user.png">
        </a>
    </div>
    <div class="user-intro center-align">
        <i></i>
    </div>
    <div class="user-intro center-align">
        <h4>I am a<span class="typing-text hidden">So Simple, Very Doge, Much Wow, Such Cool</span></h4>
    </div>
    <div class="user-content center-align">
        <p>
            Talk is cheap, show me your code
        </p>
        <p>
            TALK ALWAYS COUNTS!
        </p>
    </div>
    <br>
</div>
